/out/production/4-programming-with-classes/by/epam/trukhanovich/programming/simple_class10/Airline.class
/out/production/4-programming-with-classes/by/epam/trukhanovich/programming/aggregation4/BankAccount.class
/out/production/4-programming-with-classes/by/epam/trukhanovich/programming/simple_class09/Book.class
/out/production/4-programming-with-classes/by/epam/trukhanovich/programming/aggregation2/Car.class
*.class
/out/production/4-programming-with-classes/by/epam/trukhanovich/programming/aggregation3/City.class
